<div class="add-player">
    <input class="add-player__name" #playerName matInput (keyup.enter)="addHandler(playerName.value, playerName); playerName.value=''"/>
  <button mat-raised-button (click)="addHandler(playerName.value, playerName); playerName.value=''" class="add">
    add
  </button>
</div>

<mat-grid-list class="players" *ngIf="players && players.length > 0" cols="3" rowHeight="2rem" gutterSize="0.5rem">
  <mat-grid-tile [colspan]="1" [rowspan]="1" *ngFor="let player of players" class="player">
    <button mat-raised-button class="players-button" color="accent" (click)="select(player)">{{player.name}}</button>
    <button class="delete" title="delete player" (click)="delete(player)">x</button>
  </mat-grid-tile>
</mat-grid-list>

<mat-slide-toggle aria-label="null"
  (change)="toggle()"
  [checked]="checked">
</mat-slide-toggle>

<app-teams [teamA]="teamA" [teamB]="teamB" (selected)="onPlayerClick($event)"></app-teams>


