.players {
  direction: rtl;

  .delete {
    background-color: red;
    width: 2rem;
    height: 120%;
    font-size: 1rem;
    margin-left: -4px;
  }

  &__select {
    min-width: 6rem;
  }
}

.mat-slide-toggle {
  margin: 1rem;
  border: 1px solid #ccc;
  border-radius: 2px;
  width: 6rem;

  /deep/ &-bar {
    background-color: #7b1fa2; // #0d8e4f
  }
}

.players-button {
  background-color: #0d8e4f;
}

/deep/ .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: aliceblue;
}

.mat-input-element {
  border: 1px solid #ccc;
  border-radius: 1rem;
  padding: 7px 20px;
  margin: 6px 0;
  font-size: 1rem;

}

.mat-raised-button {
  &.add {
    margin-left: .5rem;
  }
}

.add-player {
  padding-bottom: 1rem;
}


/deep/ .mat-button-wrapper {
  text-overflow: ellipsis;
  width: 44px; // TODO remove hard coded numbers
  height: 24px; // TODO remove hard coded numbers
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
}
