.players {
  direction: rtl;
  margin-top: 0.3rem;

  .delete {
    background-color: #f44336;
    width: 2rem;
    height: 120%;
    font-size: 1rem;
    font-weight: 900;
  }

  &__select {
    min-width: 6rem;
  }
}

.add-player {
  display: grid;
  grid-template-columns: 3fr 2fr;
}

.mat-slide-toggle {
  margin: 1rem;
  border: 1px solid #ccc;
  border-radius: 2px;

  /deep/ &-bar {
    background-color: #7b1fa2;
    width: 5rem !important;
    height: 2rem !important;
    border-radius: 1rem !important;
  }

  /deep/ &-thumb {
    width: 2rem !important;
    height: 2rem !important;
    &-container {
      top: 0 !important;
    }
  }
}

/deep/ .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb-container {
  transform: translate3d(3rem,0,0) !important;
}

/deep/ .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: aliceblue;
}

.mat-input-element {
  border: 1px solid #ccc;
  border-radius: 1rem;
  padding: 7px 20px;
  margin: 6px 0;
  font-size: 1rem;

}

.mat-raised-button {
  &.add {
    margin-left: 1.5rem;
  }
}

.players-button {
  /deep/ .mat-button-wrapper {
    text-overflow: ellipsis;
    width: 3.5rem;
    height: 1.7rem;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
  }
}
