.mat-raised-button {
  &.mat-white {
    background-color: aliceblue;
    color: #424242;
  }
}

.teams {
  display: grid;
  grid-template-columns: auto auto auto;
  overflow-y: scroll;
  height: 64vh;

  &__team {
    direction: rtl;
  }

}

.team-player {
  padding: .1rem;

  button {
    height: 2.2rem;
    width: 8rem;
  }

  /deep/ .mat-button-wrapper {
    width: 6rem;
  }

}

.team-index {
  padding: .1rem;
  .number {
    height: 2.2rem;
    display: inline-block;
  }
}
